/.idea

/Model/bin
/Model/obj

/View/bin
/View/obj
/View/.idea

/NewView/bin
/NewView/obj
/NewView/.idea

/RunTester/bin
/RunTester/obj

/SudokuGenerator/bin
/SudokuGenerator/obj

/Tests/bin
/Tests/obj

/Presenter/bin
/Presenter/obj

/Repository/bin
/Repository/obj

/ConsoleApplication/bin
/ConsoleApplication/obj

/publish

*.user
*.cache
