/.idea

/Model/bin
/Model/obj

/View/bin
/View/obj
/View/.idea

/RunTester/bin
/RunTester/obj

/Tests/bin
/Tests/obj

/Global/bin
/Global/obj

/Presenter/bin
/Presenter/obj

/Repository/bin
/Repository/obj

/publish

*.user
*.cache
