/.idea

/Model/bin
/Model/obj

/DesktopApplication/bin
/DesktopApplication/obj
/DesktopApplication/.idea

/Tests/bin
/Tests/obj

/Repository/bin
/Repository/obj

/ConsoleApplication/bin
/ConsoleApplication/obj

/publish

*.user
*.cache
